<%= render 'pic', p: @pic %>
<% if @pic.user.id == current_user.id %>
	<div class="text-center edit-links">
		<%= link_to "Edit Pic", edit_pic_path(@pic) %> |
		<%= link_to "Return", pics_path %><br>
	</div>
<% else %>
	<div class="text-center edit-links">
		<%= link_to "Return", pics_path %><br>
	</div>
<% end %>