<div class="posts-wrapper row">
	<div class="post">
		<div class="post-head">
			<div class="name">
				Kan Yamamoto
			</div>
		</div>
			<div class="image center-block">
				<%= image_tag @pic.image.url(:medium) %>
			</div>
			<p class="caption">
				<%= @pic.caption %>
			</p>
			<div class="text-center">
				<%= link_to "Edit Pic", edit_pic_path(@pic) %> |
				<%= link_to "Return", pics_path %><br>
			</div>
	</div>
</div>